// Media Queries

$tablet-breakpoint: 768px;
$desktop-breakpoint: 1280px;

// // Colors

// Primary Colors //
$main-dark-color: #151515;
$main-light-color:rgba(0,0,0,0.05);
$interactive-color: #4ee1a0;
$secondary-color: #242424;
$text-darkMode-color: #ffffff;
$text-lightMode-color: #151515;
$secondary-text-color: #d9d9d9d9;
