@use "../../styles/partials/media-queries" as *;
@use "../../styles/partials/global";
@use "../../styles/partials/resets";
@use "../../styles/partials/variables" as *;

.about {
  position: relative;
  overflow: hidden;
  display: flex;
  flex-direction: column-reverse;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  padding-bottom: 8rem;
  border-bottom: 1px $interactive-color solid;

  @include tablet {
    flex-direction: row;
    justify-content: space-between;
    gap: 0;
    margin-top: 6rem;
  }

  &__text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 2rem;
    gap: 2.4rem;

    @include tablet {
      justify-content: space-between;
      flex-wrap: wrap;
      gap: 3rem;
    }

    @include desktop {
      gap: 4rem;
    }
    span {
      text-decoration: underline;
      text-decoration-color: $interactive-color;
      text-underline-offset: 0.5rem;
    }
  }

  &__photo {
    width: 30rem;
    z-index: 1;
    @include tablet {
      width: 50rem;
    }
    &--dark {
      @extend .about__photo;
      filter: grayscale(1);
      width: 30rem;
      @include tablet {
        width: 50rem;
      }
    }
  }

  &__button {
    @extend .button;
    width: fit-content;
  }

  &__rings {
    position: fixed;
    width: 53rem;
    height: 12.9rem;
    flex-shrink: 0;
    left: -34rem;
    top: 12.4rem;

    @include tablet {
      margin-left: -27rem;
      left: 0;
      top: 8.6rem;
    }
    @include desktop {
      margin-left: -10rem;
      top: 13.3rem;
    }

    &--light {
      @extend .about__rings;

      g {
        stroke: $interactive-color;
      }
    }
  }

  &__circle {
    position: absolute;
    flex-shrink: 0;
    width: 12.9rem;
    height: 12.9rem;
    top: 25.4rem;
    right: -23rem;
    z-index: 1;

    &--light {
      @extend .about__circle;

      circle {
        stroke: $interactive-color;
      }
    }
  }
}
