@use "../../styles/partials/media-queries" as *;
@use "../../styles/partials/global";
@use "../../styles/partials/resets";
@use "../../styles/partials/variables" as *;

.about {
  display: flex;
  flex-direction: column-reverse;
  justify-content: center;
  align-items: center;

  @include tablet {
    flex-direction: row;
    justify-content: space-between;
  }

  &__text {
    display: flex;
    justify-content: center;
    margin-top: 2rem;

    @include tablet {
      justify-content: space-between;
      flex-wrap: wrap;
      width: 35rem;
    }
    span{
      text-decoration: underline;
      text-decoration-color: $interactive-color;
    }
  }

  &__photo {
    width: 30rem;
    z-index: 1;
    @include tablet {
      width: 50rem;
    }
    &--dark {
      filter: grayscale(1);
      width: 30rem;
      @include tablet {
        width: 50rem;
      }
    }
  }

  &__rings {
    position: absolute;
    width: 53rem;
    height: 12.9rem;
    flex-shrink: 0;
    margin-left: -34rem;

    @include tablet {
      margin-left: -27rem;
      left: 0;
    }
    @include desktop {
      margin-left: -10rem;
    }
  }
}
