@use "../../styles/partials/media-queries" as *;
@use "../../styles/partials/global";
@use "../../styles/partials/resets";
@use "../../styles/partials/variables" as *;

.header {
  padding-top: 2rem;
  gap: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  @include tablet {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  &__social-links {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 4rem;
  }

  &__mode {
    cursor: pointer;
    transition: transform 0.3s ease;

    &:hover {
      transform: scale(1.1);
    }
  }

  &__social-item {
    &--dark,
    &--light {
      &:hover {
        transition: transform 0.3s ease;
        transform: scale(1.1);
      }
    }
    &--light {
      path {
        fill: #000000;
      }
    }
  }
}
