@use "../../styles/partials/media-queries" as *;
@use "../../styles/partials/global";
@use "../../styles/partials/resets";
@use "../../styles/partials/variables" as *;

.experience {
  padding: 5rem 0;
  border-bottom: 1px $interactive-color solid;

  @include tablet {
    border: none;
  }
  &__icon-list {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 2rem;
    z-index: 2;
  }

  &__icon {
    &-container {
      width: 12rem;
      padding: 2rem;
      border-radius: 2rem;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      z-index: 2;
      gap: 1rem;

      &--light {
        @extend .experience__icon-container;
        border: 1px solid $interactive-color;
      }
      &--dark {
        @extend .experience__icon-container;
        border: 1px solid $text-darkMode-color;
      }
      @include desktop {
        &:hover {
          animation: float 1s ease-in-out infinite;
          border: 1px solid $interactive-color;
        }
      }
    }

    &-name {
      color: $secondary-text-color;

      &--light {
        color: rgba($color: $secondary-color, $alpha: 0.8);
      }
    }
    svg {
      width: 5rem;
      height: 5rem;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }

  &__rings {
    position: absolute;
    flex-shrink: 0;
    width: 12.9rem;
    height: 12.9rem;
    top: 110.7rem;
    // margin-right: -34.5rem;
    right: 6.4rem;
    z-index: 1;

    @include tablet {
      top: 88.7rem;
      right: 3.4rem;
    }

    @include desktop {
      right: 10.4rem;
    }

    &--light {
      @extend .experience__rings;

      g {
        stroke: $interactive-color;
      }
    }
  }
}

@keyframes float {
  0% {
    scale: 1;
  }
  50% {
    scale: 1.2;
  }
  100% {
    scale: 1;
  }
}
